@model Upravuvanje.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Предмет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semestar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semestar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher1)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FirstTeacherId != null)
            {
                <a asp-controller="Teachers" asp-action="Details" asp-route-id="@Model.FirstTeacherId">@Html.DisplayFor(model => model.Teacher1.FullName)</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher2)
        </dt>
        <dd class="col-sm-10">
            @if (Model.SecondTeacherId != null)
            {
                <a asp-controller="Teachers" asp-action="Details" asp-route-id="@Model.SecondTeacherId">@Html.DisplayFor(model => model.Teacher2.FullName)</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class="col-sm-10">
            @foreach (var student in Model.Students)
            {
                <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId">
                    @student.Student.FullName
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Измени</a> |
    <a asp-action="Index">Назад до листата</a>
</div>
